<h1>MerchLog Home</h1>

<%= form_for @user do |f| %>
	<%=f.text_field :first_name, placeholder: "Zach" %><br />
	<%=f.text_field :last_name, placeholder: "Johnson" %><br />
	<%=f.text_field :address, placeholder: "1281 E Ridge Meadow Ln" %><br />
	<%=f.text_field :city, placeholder: "Midvale" %><br />
	<%=f.text_field :state, placeholder: "Utah" %><br />
	<%=f.text_field :postal_code, placeholder: "84047" %><br />
	<%=f.text_field :email_address, placeholder: "me@me.com" %><br />

	<%= f.password_field :password, placeholder: "password ..." %><br />
	<%= f.password_field :password_confirmation, placeholder: "... and again" %>

	<%= f.submit "Sign up!" %>

	<% end if !current_user %>