<h1>Edit User Profile</h1>

<%= form_for @user do |f| %>
	<%=f.text_field :first_name, placeholder: "First Name" %>
	<%=f.text_field :last_name, placeholder: "Last Name" %>
	<%=f.text_field :password, placeholder: "Password" %>
	<%=f.text_field :address, placeholder: "Address" %>
	<%=f.text_field :city, placeholder: "City" %>
	<%=f.text_field :state, placeholder: "State" %>
	<%=f.text_field :postal_code, placeholder: "Zip Code" %>
	<%=f.text_field :email_address, placeholder: "Address" %>

	<%= f.submit "Edit User!" %>


	<% end %>
