<h1>Add new User</h1>

<%= form_for @user do |f| %>
	<%=f.text_field :first_name, placeholder: "First Name" %><br />
	<%=f.text_field :last_name, placeholder: "Last Name" %><br />
	<%=f.text_field :address, placeholder: "Address" %><br />
	<%=f.text_field :city, placeholder: "City" %><br />
	<%=f.text_field :state, placeholder: "State" %><br />
	<%=f.text_field :postal_code, placeholder: "Postal Code" %><br />
	<%=f.text_field :email_address, placeholder: "Email" %><br />

	<%= f.password_field :password, placeholder: "password ..." %><br />
	<%= f.password_field :password_confirmation, placeholder: "... and again" %>

	<%= f.submit "Sign up!" %>


	<% end %>
